* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.background {
	background-image: url('../images/img1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0px 20px;
}

.background-text a {
	color: white;
	font-weight: 600;
	padding: 20px;
}

#footerbar {
	width: 100%;
	background: black;
	color: #fff;
	text-align: center;
	bottom: 0;
	position: relative;
}

.copyright {
	padding: 10px 0px;
}

.social ul li {
	display: inline-block;
	text-align: center;
	padding: 0px 10px;
}

.social ul li a {
	color: #fff;
}

.social ul li a:hover {
	color:  #e6b3e6;
	font-weight: 600;
}